doctype html
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Mean Estudos
    link(rel='stylesheet', href='js/lib/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='css/app.css')
  body
    .navbar.navbar-inverse
      .container
        .navbar-header
          a.navbar-brand(href="/") Exemplo
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li.dropdown
              a.dropdown-toggle(role='button', data-toggle='dropdown', href='#')
                i.glyphicon.glyphicon-user Admin
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') My Profile
                li
                  a(href='#')
                    i.glyphicon.glyphicon-lock Logout

    div(ui-view, ng-cloak)

    //- div
    //-   | Angular seed app: v
    //-   span(app-version)

    footer.text-center This Bootstrap 3 dashboard layout is compliments of
      a(href="http://www.bootply.com/85850")
        strong  Bootply.com

    // bower:js
    // endbower

    //- script(src='./js/lib/jquery/dist/jquery.min.js')
    //- script(src='./js/lib/angular/angular.min.js')
    //- script(src='./js/lib/angular-route/angular-route.min.js')
    //- script(src='./js/lib/angular-flash-alert/dist/angular-flash.min.js')
    //- script(src='./js/lib/bootstrap/dist/js/bootstrap.min.js')

    script(src='/js/dist/concat.js')

