
<div class="row">
  <div class="col-md-4">
    <ul data-ng-repeat="item in ctr.enderecos" class="list-group">
      <li class="list-group-item">{{ item.logradouro }}</li>
    </ul>
  </div>
  <div class="col-md-8">
    <form name="enderecoForm" role="form" ng-submit="ctr.adicionaEndereco(enderecoForm.$valid)" novalidate="novalidate" class="form form-vertical">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="cep">CEP</label>
            <div ng-class="{ 'has-error' : enderecoForm.cep.$invalid &amp;&amp; !enderecoForm.cep.$pristine }" class="input-group">
              <input id="cep" ng-model="ctr.endereco.cep" type="text" name="cep" placeholder="Insira seu cep..." ng-pattern="/^[0-9]{8}$/" class="form-control"/><span class="input-group-btn">
                <button type="button" ng-click="ctr.pesquisarCep(ctr.endereco.cep)" ng-disabled="enderecoForm.cep.$invalid &amp;&amp; !enderecoForm.cep.$pristine" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
            <p ng-show="enderecoForm.cep.$invalid &amp;&amp; !enderecoForm.cep.$pristine" class="help-block">Cep inválido</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-class="{ 'has-error' : enderecoForm.logradouro.$invalid &amp;&amp; !enderecoForm.logradouro.$pristine }" class="form-group">
            <label for="logradouro">Logradouro</label>
            <input id="logradouro" ng-model="ctr.endereco.logradouro" type="text" name="logradouro" placeholder="Insira seu logradouro..." required="required" class="form-control"/>
            <p ng-show="enderecoForm.logradouro.$invalid &amp;&amp; !enderecoForm.logradouro.$pristine" class="help-block">Logradouro inválido</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="complemento">Complemento</label>
            <input id="complemento" ng-model="ctr.endereco.complemento" type="text" name="complemento" placeholder="Insira seu complemento..." class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="bairro">Bairro</label>
            <input id="bairro" ng-model="ctr.endereco.bairro" type="text" name="bairro" placeholder="Insira seu bairro..." class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="cidade">Cidade</label>
            <input id="cidade" ng-model="ctr.endereco.cidade" type="text" name="cidade" placeholder="Insira seu cidade..." class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="estado">Estado</label>
            <input id="estado" ng-model="ctr.endereco.estado" type="text" name="estado" placeholder="Insira seu estado..." ng-minlength="2" ng-maxlength="2" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="submit" class="pull-right btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</div>