
<form name="clienteForm" role="form" ng-submit="ctr.adicionaCliente(clienteForm.$valid)" novalidate="novalidate" class="form form-vertical">
  <div ng-class="{ 'has-error' : clienteForm.nome.$invalid &amp;&amp; !clienteForm.nome.$pristine }" class="form-group">
    <label for="nome">* Nome</label>
    <input id="nome" ng-model="ctr.cliente.nome" type="text" name="nome" placeholder="Insira seu nome..." required="required" class="form-control"/>
    <p ng-show="clienteForm.nome.$invalid &amp;&amp; !clienteForm.nome.$pristine" class="help-block">Seu nome é obrigatório</p>
  </div>
  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input id="telefone" ng-model="ctr.cliente.telefone" type="text" name="telefone" placeholder="Insira seu telefone..." class="form-control"/>
  </div>
  <div ng-class="{ 'has-error' : clienteForm.email.$invalid &amp;&amp; !clienteForm.email.$pristine }" class="form-group">
    <label for="email">Email</label>
    <input id="email" ng-model="ctr.cliente.email" type="email" name="email" placeholder="Insira seu email..." class="form-control"/>
    <p ng-show="clienteForm.email.$invalid &amp;&amp; !clienteForm.email.$pristine" class="help-block">Email inválido</p>
  </div>
  <div class="form-group">
    <label for="observacao">Observação</label>
    <input id="observacao" ng-model="ctr.cliente.observacao" type="text" name="observacao" placeholder="Insira uma observacao..." class="form-control"/>
  </div>
  <button type="submit" class="pull-right btn btn-primary">Enviar</button>
</form>