form(name='clienteForm', role="form")
  .form-group
    label(for='nome') Nome
    input.form-control(ng-model='ctr.cliente.nome', type='text', id='nome', placeholder='Insira seu nome...', required)

  .form-group
    label(for='telefone') Telefone
    input.form-control(ng-model='ctr.cliente.telefone', type='text', id='telefone', placeholder='Insira seu telefone...')

  .form-group
    label(for='email') Email
    input.form-control(ng-model='ctr.cliente.email', type='text', id='email', placeholder='Insira seu email...')
    p.help-block Example block-level help text here.

  .form-group
    label(for='observacao') Observação
    input.form-control(ng-model='ctr.cliente.observacao', type='text', id='observacao', placeholder='Insira uma observacao...')

   button(type="submit", class="btn btn-default", ng-disabled="clienteForm.$invalid", ng-click='ctr.adicionaCliente(ctr.cliente)') Enviar
