.panel.panel-primary(data-ng-init="module = 'clientes'")
   .panel-heading.clearfix
      strong {{ ctr.title }}
      //- button.btn.btn-default.btn-sm.pull-right(type="button") Salvar
   .panel-body
      .container
         .row
            .col-md-2
               | Nome:
            .col-md-10
               | {{ ctr.item.nome }}
         .row
            .col-md-2
               | Telefone:
            .col-md-10
               | {{ ctr.item.telefone }}
         .row
            .col-md-2
               | Email:
            .col-md-10
               | {{ ctr.item.email }}
         .row
            .col-md-2
               | Observação:
            .col-md-10
               | {{ ctr.item.observacao }}