.row
   .col-md-4
      ul.list-group(data-ng-repeat='item in ctr.enderecos')
         li.list-group-item {{ item.logradouro }}

   .col-md-8
      form.form.form-vertical(name='enderecoForm', role="form", ng-submit='ctr.adicionaEndereco(enderecoForm.$valid)', novalidate)
         .row
            .col-md-5
               .form-group
                  label(for='cep') CEP
                  .input-group(ng-class="{ 'has-error' : enderecoForm.cep.$invalid && !enderecoForm.cep.$pristine }")
                     input#cep.form-control(ng-model='ctr.endereco.cep', type='text', name='cep', placeholder='Insira seu cep...', ng-pattern='/^[0-9]{8}$/')
                     span.input-group-btn
                        button.btn.btn-primary(type='button', ng-click='ctr.pesquisarCep(ctr.endereco.cep)', ng-disabled='enderecoForm.cep.$invalid && !enderecoForm.cep.$pristine')
                           span.glyphicon.glyphicon-search

         .row
            .col-md-12
               .form-group(ng-class="{ 'has-error' : enderecoForm.logradouro.$invalid && !enderecoForm.logradouro.$pristine }")
                  label(for='logradouro') Logradouro
                  input#logradouro.form-control(ng-model='ctr.endereco.logradouro', type='text', name='logradouro', placeholder='Insira seu logradouro...', required)
                  p.help-block(ng-show="enderecoForm.logradouro.$invalid && !enderecoForm.logradouro.$pristine" ) Logradouro inválido

         .row
            .col-md-12
               .form-group
                  label(for='complemento') Complemento
                  input#complemento.form-control(ng-model='ctr.endereco.complemento', type='text', name='complemento', placeholder='Insira seu complemento...')

         .row
            .col-md-12
               .form-group
                  label(for='bairro') Bairro
                  input#bairro.form-control(ng-model='ctr.endereco.bairro', type='text', name='bairro', placeholder='Insira seu bairro...')

         .row
            .col-md-12
               .form-group
                  label(for='cidade') Cidade
                  input#cidade.form-control(ng-model='ctr.endereco.cidade', type='text', name='cidade', placeholder='Insira seu cidade...')

         .row
            .col-md-12
               .form-group
                  label(for='estado') Estado
                  input#estado.form-control(ng-model='ctr.endereco.estado', type='text', name='estado', placeholder='Insira seu estado...', ng-minlength='2', ng-maxlength='2')

         .row
            button.pull-right(type="submit", class="btn btn-primary") Enviar
